body{
    color: #fff;
    text-align: center;
}

#content{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr; /* We mainly use fraction */
    max-width: 960px;
    margin: 0 auto;
}

#content div{
    background-color: blue;
    padding: 40px;
}

#content div:nth-child(even){
    background: purple;
}