body{
    color: #fff;
    text-align: center;
}

#content{
    display: grid;  
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(150px, auto));
    grid-gap: 10px;
}

#content div{
    background-color: blue;
    padding: 40px;    
}

#content div:nth-child(even){
    background: purple;
}

