body{
    color: #fff;
    text-align: center;
}

#content{
    display: grid;  
    max-width: 960px;
    margin: 0 auto;
    grid-template-rows: minmax(150px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: stretch; /* Default value */
}

#content div{
    background-color: blue;
    padding: 30px;    
}

#content div:nth-child(even){
    background: purple;
}